<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <connectionStrings>
<!--    NZ-->
    <add name="sourceNZ.DBConnString" connectionString="Driver={NetezzaSQL};servername=serverName;port=portNumber;database=databaseName;username=username;password=password;" providerName="MSDASQL" />
<!--    <add name="targetNZ.DBConnString" connectionString="Driver={NetezzaSQL};servername=serverName;port=portNumber;database=databaseName;username=username;password=password;" providerName="MSDASQL" />-->
    
<!--    PG-->
    <add name="targetPG" connectionString="HOST=localhost;DATABASE=postgres;password=password;USER ID=username;PORT=5432;COMMANDTIMEOUT=120;" providerName="Npgsql" />
<!--    SQL-->
    <add name="targetSQL" connectionString="Data Source=localhost;Initial Catalog=sampleDB;Persist Security Info=True;User ID=username;Password=password" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>